<!DOCTYPE html>
<html>
<head>
  <title>Timetable</title>
</head>
<body>
  <h1>Timetable</h1>
  <table class="nb">
    <caption>Stundenplan vom 15.07. bis 21.07.</caption>
    <tr class="tbsubhead">
      <th class="weekday"><a href="#">Mo 15.07.</a></th>
      <th class="weekday"><a href="#">Di 16.07.</a></th>
      <th class="weekday"><a href="#">Mi 17.07.</a></th>
      <th class="weekday"><a href="#">Do 18.07.</a></th>
      <th class="weekday"><a href="#">Fr 19.07.</a></th>
      <th class="weekday"><a href="#">Sa 20.07.</a></th>
    </tr>
    <tr>
      <td class="appointment" abbr="Montag 1. Stunde">
        <span class="timePeriod">08:00 - 09:30</span>
        <br>
        Theoretische Informatik
      </td>
      <td class="appointment" abbr="Dienstag 1. Stunde">
        <span class="timePeriod">09:45 - 11:15</span>
        <br>
        Rechnernetze
      </td>
      <td class="appointment" abbr="Mittwoch 1. Stunde">
        <span class="timePeriod">08:00 - 09:30</span>
        <br>
        Software Engineering
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</body>
</html>